@font-face {
    font-family: futura;
    src: url(../fonts/futura.otf);
}
@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
}
@font-face {
    font-family: didot;
    src: url(../fonts/Didot.ttc);
}
@font-face {
    font-family: futura;
    src: url(../fonts/Futura.ttc);
}
@font-face {
    font-family: futuran;
    src: url(../fonts/futuran.ttf);
}

.futura{font-family:futura !important}
.calibri{font-family:calibri !important}
.didot{font-family:didot !important}
.futuran{font-family:futuran !important}
.futura{font-family:futura !important}
.times{font-family: 'Times New Roman' !important}

